*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container{
    display: flex;
    flex-direction: column;
    border: 5px solid blue;
    width: 540px;
    height: 540px;
    user-select: none;
}
.row{
    display: flex;
    width: 100%;
    
}
#add{
    flex-grow: 0;
}